.co2ok_container .co2ok_checkbox_container .inner_checkbox_label:after, .co2ok_container .co2ok_checkbox_container.selected .inner_checkbox_label {
  background: #1ceeaa;
  /* Old browsers */
  background: -moz-linear-gradient(164.64deg, #1ceeaa 0%, #06d367 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(164.64deg, #1ceeaa 0%, #06d367 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(164.64deg, #1ceeaa 0%, #06d367 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ }

.co2ok_container {
  display: inline-block;
  position: relative;
  font-family: Roboto, sans-serif;
  color: #606468;
  z-index: 10;
  width: 259px; }
  .co2ok_container .co2ok_payoff {
    width: 100%;
    margin-top: 6px;
    font-size: 14px;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: block;
    letter-spacing: -0.0538461em;
    margin-left: -5%;
    color: #4D5155;
    width: 110%; }
    .co2ok_container .co2ok_payoff #p {
      vertical-align: middle;
      display: inline-block;
      margin-left: 12px; }
      .co2ok_container .co2ok_payoff #p img {
        width: 16px;
        margin-top: 2px;
        display: inline-block; }
        @media (max-width: 768px) {
          .co2ok_container .co2ok_payoff #p img {
            width: 20px; } }
  .co2ok_container .co2ok_checkbox_container {
    border-radius: 10px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    display: block;
    position: relative;
    height: 54px; }
    .co2ok_container .co2ok_checkbox_container > * {
      background-position: center; }
    .co2ok_container .co2ok_checkbox_container #checkbox_label {
      background: #fff;
      border-radius: 10px; }
    .co2ok_container .co2ok_checkbox_container .inner_checkbox_label {
      position: relative;
      display: inline-block;
      font-size: 22px;
      width: 100%;
      height: 54px;
      background-position: center;
      background: white;
      background-size: 100%;
      border-radius: 10px;
      transition: all 0.4s ease; }
      .co2ok_container .co2ok_checkbox_container .inner_checkbox_label:after {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        position: absolute;
        top: -2px;
        bottom: -2px;
        left: -2px;
        right: -2px;
        content: '';
        z-index: -1;
        border-radius: 12px; }
      .co2ok_container .co2ok_checkbox_container .inner_checkbox_label > * {
        display: inline-block;
        vertical-align: middle; }
    .co2ok_container .co2ok_checkbox_container #checkbox {
      width: 26px;
      height: 26px;
      background: #E1E6E7;
      box-shadow: inset 0px 2px 1px rgba(96, 100, 104, 0.3);
      border-radius: 3px;
      margin: 14px 0px 14px 8px; }
    .co2ok_container .co2ok_checkbox_container #co2ok_cart_field {
      display: none; }
    .co2ok_container .co2ok_checkbox_container.unselected .compensation_amount {
      color: #06d367; }
    .co2ok_container .co2ok_checkbox_container.selected {
      color: white;
      text-shadow: 2px 2px 8px #6d6d6d;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05); }
      .co2ok_container .co2ok_checkbox_container.selected #checkbox {
        padding: 2px;
        background-color: white;
        background-size: 80%;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url("../images/vinkje_co2ok.png") !important;
        font-size: 20px; }
      .co2ok_container .co2ok_checkbox_container.selected .compensation_amount {
        color: white; }

img#co2ok_logo {
  display: inline-block;
  width: 55px;
  vertical-align: middle;
  margin: 17px 20px 14px 5px; }

.co2ok_infobox_container {
  width: 350px;
  overflow: hidden;
  position: absolute;
  left: 50%;
  margin-left: -175px;
  opacity: 0;
  -webkit-transition: opacity 1.2s;
  transition: opacity 1.2s;
  z-index: 10000;
  display: none;
  background: white;
  border-radius: 15px;
  box-sizing: border-box;
  padding: 10px;
  border: 3px solid #eee;
  border-image-slice: 1; }
  .co2ok_infobox_container.ShowInfoBox {
    display: block;
    opacity: 1; }
  .co2ok_infobox_container .inner-wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 10px; }
    .co2ok_infobox_container .inner-wrapper .svg-img {
      display: flex;
      justify-content: center;
      /* align horizontal */
      align-items: center;
      /* align vertical */
      height: 50%;
      width: 58%;
      align-items: center;
      justify-content: center; }
    .co2ok_infobox_container .inner-wrapper .text-block {
      margin: 0px;
      font-size: 0.9em;
      line-height: normal;
      box-sizing: border-box;
      text-align: left;
      padding: 5px;
      border-radius: 5px;
      border: 2px solid #28db83;
      text-decoration: none; }
      .co2ok_infobox_container .inner-wrapper .text-block.greyBorder {
        border-color: #b8b8b8; }
  .co2ok_infobox_container a {
    text-decoration: underline; }
  .co2ok_infobox_container img, .co2ok_infobox_container span {
    display: inline-block;
    vertical-align: middle;
    color: #979797;
    padding: 0px; }
