.co2ok_container_default .co2ok_checkbox_container_default .inner_checkbox_label_default:after, .co2ok_container_default .co2ok_checkbox_container_default.selected .inner_checkbox_label_default, .co2ok_container_minimal .co2ok_checkbox_container_minimal.selected .inner_checkbox_label_minimal .comp_amount_label_minimal, .co2ok_container_minimal .co2ok_checkbox_container_minimal .inner_checkbox_label_minimal .comp_amount_label_minimal, .co2ok_container_minimal .co2ok_checkbox_container_minimal .inner_checkbox_label_minimal .comp_amount_label_minimal .inner_comp_amount_label_minimal {
  background: -webkit-linear-gradient(#1DEFAC -50.09%, #11D071 51.05%, #10CC6B 56.81%, #05B139 100%);
  background: -o-linear-gradient(#1DEFAC -50.09%, #11D071 51.05%, #10CC6B 56.81%, #05B139 100%);
  background: linear-gradient(#1DEFAC -50.09%, #11D071 51.05%, #10CC6B 56.81%, #05B139 100%); }

.co2ok_container {
  /* HTML5 display-role reset for older browsers */
  display: inline-block;
  position: relative;
  font-family: Roboto, sans-serif;
  color: #606468;
  z-index: 10;
  margin-left: 3px;
  cursor: pointer; }
  .co2ok_container html, .co2ok_container body, .co2ok_container div, .co2ok_container span, .co2ok_container applet, .co2ok_container object, .co2ok_container iframe,
  .co2ok_container h1, .co2ok_container h2, .co2ok_container h3, .co2ok_container h4, .co2ok_container h5, .co2ok_container h6, .co2ok_container p, .co2ok_container blockquote, .co2ok_container pre,
  .co2ok_container a, .co2ok_container abbr, .co2ok_container acronym, .co2ok_container address, .co2ok_container big, .co2ok_container cite, .co2ok_container code,
  .co2ok_container del, .co2ok_container dfn, .co2ok_container em, .co2ok_container img, .co2ok_container ins, .co2ok_container kbd, .co2ok_container q, .co2ok_container s, .co2ok_container samp,
  .co2ok_container small, .co2ok_container strike, .co2ok_container strong, .co2ok_container sub, .co2ok_container sup, .co2ok_container tt, .co2ok_container var,
  .co2ok_container b, .co2ok_container u, .co2ok_container i, .co2ok_container center,
  .co2ok_container dl, .co2ok_container dt, .co2ok_container dd, .co2ok_container ol, .co2ok_container ul, .co2ok_container li,
  .co2ok_container fieldset, .co2ok_container form, .co2ok_container label, .co2ok_container legend,
  .co2ok_container table, .co2ok_container caption, .co2ok_container tbody, .co2ok_container tfoot, .co2ok_container thead, .co2ok_container tr, .co2ok_container th, .co2ok_container td,
  .co2ok_container article, .co2ok_container aside, .co2ok_container canvas, .co2ok_container details, .co2ok_container embed,
  .co2ok_container figure, .co2ok_container figcaption, .co2ok_container footer, .co2ok_container header, .co2ok_container hgroup,
  .co2ok_container menu, .co2ok_container nav, .co2ok_container output, .co2ok_container ruby, .co2ok_container section, .co2ok_container summary,
  .co2ok_container time, .co2ok_container mark, .co2ok_container audio, .co2ok_container video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline; }
  .co2ok_container article, .co2ok_container aside, .co2ok_container details, .co2ok_container figcaption, .co2ok_container figure,
  .co2ok_container footer, .co2ok_container header, .co2ok_container hgroup, .co2ok_container menu, .co2ok_container nav, .co2ok_container section {
    display: block; }
  .co2ok_container body {
    line-height: 1; }
  .co2ok_container ol, .co2ok_container ul {
    list-style: none; }
  .co2ok_container blockquote, .co2ok_container q {
    quotes: none; }
  .co2ok_container blockquote:before, .co2ok_container blockquote:after,
  .co2ok_container q:before, .co2ok_container q:after {
    content: '';
    content: none; }
  .co2ok_container table {
    border-collapse: collapse;
    border-spacing: 0; }
  .co2ok_container .co2ok_adaptive_color {
    color: white; }
  .co2ok_container .co2ok_payoff {
    width: 100%;
    margin-top: -22px;
    font-size: 14px;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: block;
    letter-spacing: -0.0538461em;
    color: #4D5155;
    width: 110%; }
    .co2ok_container .co2ok_payoff #p {
      vertical-align: middle;
      display: inline-block;
      margin-left: -6px; }
      .co2ok_container .co2ok_payoff #p .co2ok_info_hitarea {
        height: 72px;
        width: 72px;
        background-color: transparent;
        border-radius: 50%;
        display: inline-block;
        margin-left: -17px;
        position: relative; }
        .co2ok_container .co2ok_payoff #p .co2ok_info_hitarea img {
          width: 18px;
          margin-top: 25px;
          display: inline-block; }
  .co2ok_container .co2ok_checkbox_container {
    border-radius: 10px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    display: block;
    position: relative;
    height: 54px; }
    .co2ok_container .co2ok_checkbox_container > * {
      background-position: center; }
    .co2ok_container .co2ok_checkbox_container #checkbox_label {
      background: #fff;
      border-radius: 10px; }
    .co2ok_container .co2ok_checkbox_container .inner_checkbox_label {
      position: relative;
      display: inline-block;
      font-size: 22px;
      width: 100%;
      height: 50px;
      background-position: center;
      background-size: 100%;
      border-radius: 10px;
      transition: all 0.4s ease; }
      .co2ok_container .co2ok_checkbox_container .inner_checkbox_label:after {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        position: absolute;
        top: -2px;
        bottom: -2px;
        left: -2px;
        right: -2px;
        content: '';
        z-index: -1;
        border-radius: 12px; }
      .co2ok_container .co2ok_checkbox_container .inner_checkbox_label > * {
        display: inline-block;
        vertical-align: middle; }
    .co2ok_container .co2ok_checkbox_container #checkbox {
      width: 26px;
      height: 26px;
      background: #E1E6E7;
      box-shadow: inset 0px 2px 1px rgba(96, 100, 104, 0.3);
      border-radius: 3px;
      margin: 12px 0px 14px 8px; }
    .co2ok_container .co2ok_checkbox_container #co2ok_cart_field {
      display: none; }
    .co2ok_container .co2ok_checkbox_container.unselected .make {
      margin-bottom: 2px;
      font-size: 20px;
      font-family: Roboto, sans-serif; }
    .co2ok_container .co2ok_checkbox_container.selected .make {
      color: white;
      margin-bottom: 2px;
      font-size: 20px;
      font-family: Roboto, sans-serif; }
    .co2ok_container .co2ok_checkbox_container.selected .co2ok_payoff {
      margin-bottom: 400px; }
    .co2ok_container .co2ok_checkbox_container.selected #checkbox {
      padding: 2px;
      background-color: white;
      background-size: 80%;
      background-position: center;
      background-repeat: no-repeat;
      background-image: url("../images/vinkje_co2ok.png") !important;
      font-size: 20px; }

img#co2ok_logo {
  display: inline-block;
  width: 62px;
  vertical-align: middle;
  margin: 5px 0px 0px 0px; }

img#co2ok_logo_minimal {
  display: inline-block;
  width: 52px;
  vertical-align: middle;
  margin: 3px 0px 0px 0px; }

img#co2ok_logo_minimal_info {
  display: inline-block;
  width: 75px;
  vertical-align: middle;
  margin: 9px 0px 0px 0px; }

.co2ok_infobox_container {
  position: absolute;
  width: 350px;
  background: white;
  border-radius: 15px;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  font-size: 0.9em;
  z-index: 999999;
  display: none;
  padding: 10px;
  border: 3px solid #eee;
  border-image-slice: 1; }
  @media (max-width: 768px) {
    .co2ok_infobox_container {
      margin-left: -150px;
      width: 300px; } }
  .co2ok_infobox_container.ShowInfoBox {
    display: block;
    opacity: 1; }
  .co2ok_infobox_container .inner-wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 10px; }
    .co2ok_infobox_container .inner-wrapper .svg-img {
      display: flex;
      justify-content: center;
      /* align horizontal */
      align-items: center;
      /* align vertical */
      height: 50%;
      width: 58%;
      align-items: center;
      justify-content: center; }
    .co2ok_infobox_container .inner-wrapper .svg-img-large {
      display: flex;
      justify-content: center;
      /* align horizontal */
      align-items: center;
      /* align vertical */
      height: 60%;
      width: 65%;
      align-items: center;
      justify-content: center; }
    .co2ok_infobox_container .inner-wrapper .text-block {
      margin: 0px;
      font-size: 1em;
      line-height: normal;
      box-sizing: border-box;
      text-align: left;
      padding: 5px;
      border-radius: 5px;
      border: 2px solid #28db83;
      text-decoration: none; }
      .co2ok_infobox_container .inner-wrapper .text-block.greyBorder {
        border-color: #b8b8b8; }
  .co2ok_infobox_container a {
    text-decoration: underline; }
  .co2ok_infobox_container img, .co2ok_infobox_container span {
    display: inline-block;
    vertical-align: middle;
    color: #979797;
    padding: 0px; }
  .co2ok_infobox_container .minimal {
    background-color: black; }

.co2ok_container_default {
  width: 244px; }
  .co2ok_container_default .co2ok_checkbox_container_default .inner_checkbox_label_default {
    background: white; }
  .co2ok_container_default .co2ok_checkbox_container_default.selected {
    color: white;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    text-shadow: 1px 1px 4px #929292; }
    .co2ok_container_default .co2ok_checkbox_container_default.selected .compensation_amount_default {
      position: relative;
      overflow: hidden;
      white-space: nowrap;
      color: white;
      padding-left: 4px;
      left: -10px;
      margin-top: 12px;
      margin-right: 10px;
      float: right;
      font-size: 18px;
      font-weight: 500;
      letter-spacing: 0px;
      font-family: Roboto, sans-serif; }
    .co2ok_container_default .co2ok_checkbox_container_default.selected .make_minimal {
      letter-spacing: 0px;
      font-family: Roboto, sans-serif; }
  .co2ok_container_default .co2ok_checkbox_container_default.unselected .compensation_amount_default {
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    color: #06d367;
    padding-left: 4px;
    left: -10px;
    margin-top: 12px;
    margin-right: 10px;
    float: right;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0px;
    font-family: Roboto, sans-serif; }
  .co2ok_container_default .co2ok_checkbox_container_default.unselected .make_minimal {
    font-family: Roboto, sans-serif; }

.co2ok_container_minimal {
  width: 320px; }
  .co2ok_container_minimal .co2ok_checkbox_container_minimal {
    font-weight: 500; }
    .co2ok_container_minimal .co2ok_checkbox_container_minimal .co2ok_adaptive_color {
      color: white; }
    .co2ok_container_minimal .co2ok_checkbox_container_minimal.selected {
      box-shadow: none; }
      .co2ok_container_minimal .co2ok_checkbox_container_minimal.selected .inner_checkbox_label_minimal .comp_amount_label_minimal {
        color: #05B139; }
    .co2ok_container_minimal .co2ok_checkbox_container_minimal .inner_checkbox_label_minimal .comp_amount_label_minimal {
      background: #E1E6E7;
      position: absolute;
      display: inline-block;
      font-size: 22px;
      width: 72px;
      height: 26px;
      border-radius: 30px;
      transition: all 0.4s ease;
      margin-left: -3px;
      padding: 5px;
      border: 10px #06d367;
      font: inherit;
      vertical-align: baseline;
      box-sizing: border-box;
      -webkit-tap-highlight-color: transparent;
      text-rendering: optimizeLegibility;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      top: 13px;
      left: 160px;
      content: '';
      z-index: -1; }
      .co2ok_container_minimal .co2ok_checkbox_container_minimal .inner_checkbox_label_minimal .comp_amount_label_minimal > * {
        display: inline-block;
        vertical-align: middle; }
      .co2ok_container_minimal .co2ok_checkbox_container_minimal .inner_checkbox_label_minimal .comp_amount_label_minimal .inner_comp_amount_label_minimal {
        background: white;
        position: absolute;
        display: inline-block;
        font-size: 22px;
        width: 68px;
        height: 22px;
        border-radius: 23px;
        transition: all 0.4s ease;
        margin: 0;
        padding: 5px;
        border: 10px #06d367;
        font: inherit;
        vertical-align: baseline;
        box-sizing: border-box;
        -webkit-tap-highlight-color: transparent;
        text-rendering: optimizeLegibility;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        top: 2px;
        bottom: -2px;
        left: 2.5px;
        right: -2px;
        content: '';
        z-index: -1; }
        .co2ok_container_minimal .co2ok_checkbox_container_minimal .inner_checkbox_label_minimal .comp_amount_label_minimal .inner_comp_amount_label_minimal > * {
          display: inline-block;
          vertical-align: middle; }
        .co2ok_container_minimal .co2ok_checkbox_container_minimal .inner_checkbox_label_minimal .comp_amount_label_minimal .inner_comp_amount_label_minimal .compensation_amount_minimal {
          position: absolute;
          margin: 0;
          font-size: 11pt;
          top: 50%;
          left: 50%;
          margin-right: -50%;
          transform: translate(-50%, -50%);
          letter-spacing: 0px;
          font-family: Roboto, sans-serif; }
    .co2ok_container_minimal .co2ok_checkbox_container_minimal .inner_checkbox_label_minimal .co2ok_payoff_minimal {
      position: absolute;
      padding-left: 10px;
      font-size: 14px;
      text-align: center;
      font-family: Roboto, sans-serif;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      display: inline-block;
      letter-spacing: -0.0538461em;
      top: 19px;
      margin-left: 66px;
      color: #4D5155; }
      .co2ok_container_minimal .co2ok_checkbox_container_minimal .inner_checkbox_label_minimal .co2ok_payoff_minimal #p_minimal {
        vertical-align: middle;
        display: inline-block;
        padding: none;
        margin-left: 7px; }
        .co2ok_container_minimal .co2ok_checkbox_container_minimal .inner_checkbox_label_minimal .co2ok_payoff_minimal #p_minimal .co2ok_info_hitarea {
          height: 72px;
          width: 72px;
          background-color: transparent;
          border-radius: 50%;
          display: inline-block;
          margin-left: -25px;
          position: relative;
          bottom: 30px; }
          .co2ok_container_minimal .co2ok_checkbox_container_minimal .inner_checkbox_label_minimal .co2ok_payoff_minimal #p_minimal .co2ok_info_hitarea img {
            width: 18px;
            margin-top: 27px;
            display: inline-block; }
    .co2ok_container_minimal .co2ok_checkbox_container_minimal .co2ok_payoff_sentence_minimal {
      position: relative;
      font-size: 10pt;
      left: 40.5px;
      top: -12px;
      letter-spacing: -0.0538461em;
      font-family: Roboto, sans-serif; }
