.co2ok_container {
  display: inline-block;
  position: relative;
  font-family: Roboto, sans-serif;
  color: #606468; }
  @media (max-width: 867px) {
    .co2ok_container {
      width: 100%; } }
  @media (min-width: 868px) {
    .co2ok_container {
      min-width: 275px;
      max-width: 275px; } }
  .co2ok_container .co2ok_payoff {
    width: 100%;
    text-align: center;
    display: block;
    width: 100%; }
    .co2ok_container .co2ok_payoff #p {
      vertical-align: middle;
      display: inline-block; }
      .co2ok_container .co2ok_payoff #p img {
        width: 15px;
        margin-top: 2px;
        display: inline-block; }
  .co2ok_container .co2ok_checkbox_container {
    border-radius: 10px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    display: block;
    position: relative; }
    .co2ok_container .co2ok_checkbox_container #checkbox_label {
      position: relative;
      display: inline-block;
      width: 100%;
      padding: 5px 10px;
      height: 100%;
      font-size: 1.2em;
      font-weight: bold;
      text-align: center; }
      .co2ok_container .co2ok_checkbox_container #checkbox_label .make {
        margin-left: 20px; }
      @media (max-width: 480px) {
        .co2ok_container .co2ok_checkbox_container #checkbox_label .make {
          margin-left: 35px; } }
      .co2ok_container .co2ok_checkbox_container #checkbox_label img {
        display: inline-block;
        height: 75%;
        margin-left: 10px;
        margin-right: 10px;
        vertical-align: middle; }
    .co2ok_container .co2ok_checkbox_container #checkbox {
      position: absolute;
      width: 25px;
      height: 25px;
      left: 10px;
      top: 50%;
      transform: translateY(-50%);
      background-color: #E1E6E7;
      border: 1px solid #cacece;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
      border-radius: 5px; }
    .co2ok_container .co2ok_checkbox_container #co2ok_cart_field {
      display: none; }
    .co2ok_container .co2ok_checkbox_container .compensation_amount {
      color: #06d367; }
    .co2ok_container .co2ok_checkbox_container.unselected {
      background: white; }
      .co2ok_container .co2ok_checkbox_container.unselected .compensation_amount {
        color: #06d367; }
      .co2ok_container .co2ok_checkbox_container.unselected:after {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        position: absolute;
        top: -2px;
        bottom: -2px;
        left: -2px;
        right: -2px;
        background: linear-gradient(#1defaa, #06d367);
        content: '';
        z-index: -1;
        border-radius: 12px; }
    .co2ok_container .co2ok_checkbox_container.selected {
      color: white;
      text-shadow: 2px 2px 8px #6d6d6d;
      background: #1ceeaa;
      /* Old browsers */
      background: -moz-linear-gradient(-45deg, #1ceeaa 0%, #06d367 100%);
      /* FF3.6-15 */
      background: -webkit-linear-gradient(-45deg, #1ceeaa 0%, #06d367 100%);
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(135deg, #1ceeaa 0%, #06d367 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1ceeaa', endColorstr='#06d367',GradientType=1 );
      /* IE6-9 fallback on horizontal gradient */
      background-color: #E1E6E7;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05); }
      .co2ok_container .co2ok_checkbox_container.selected #checkbox {
        padding: 2px;
        background-color: white;
        background-size: 80%;
        background-position: center;
        background-image: url("../images/vinkje_co2ok.png") !important;
        font-size: 20px;
        background-repeat: no-repeat; }
      .co2ok_container .co2ok_checkbox_container.selected .compensation_amount {
        color: white; }

img#co2ok_logo {
  display: inline-block;
  width: 70px;
  vertical-align: top;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 8px; }

.co2ok_infobox_container {
  width: 300px;
  height: 310px;
  overflow: hidden;
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity 1.2s;
  transition: opacity 1.2s;
  z-index: 10000;
  background: white;
  border-radius: 15px;
  border: 1px solid black;
  margin-top: -50px; }

.co2ok_infobox_container span {
  float: right;
  padding: 0px; }
