@import "./helpers/helpers.scss";

.co2ok_container {
     display: inline-block;
     position: relative;
     font-family: Roboto, sans-serif;
     color:#606468;
     z-index: 10;
     width: 259px;


     .co2ok_payoff {
         width: 100%;
         margin-top: 6px;
         font-size: 14px;
         text-align: center;
         font-family: $font;
         font-style: normal;
         font-weight: 500;
         line-height: normal;
         display: block;
         letter-spacing: -0.0538461em;
         margin-left: -5%;
         color: #4D5155;
         width: 110%;
         #p {
             vertical-align: middle;
             display: inline-block;
             margin-left: 12px;
             & img{
                 width: 16px;
                 margin-top: 2px;
                 display: inline-block;
            }
        }
    }

     .co2ok_checkbox_container {

         border-radius: 10px;
         box-sizing: border-box;
         -moz-box-sizing: border-box;
         -webkit-box-sizing: border-box;
         display: block;
         position: relative;
         height: 54px;

         > * {
           background-position: center;
         }

         #checkbox_label {
           background: $white;
           border-radius: $borderRadius;
         }

         .inner_checkbox_label {
             &:after{
                box-sizing: border-box;
                 -moz-box-sizing: border-box;
                 -webkit-box-sizing: border-box;
                 position: absolute;
                 top: -2px;
                 bottom: -2px;
                 left: -2px;
                 right: -2px;
                 content: '';
                 @extend %gradient;
                 z-index: -1;
                 border-radius: 12px;
            }

             position: relative;
             display: inline-block;;
             font-size: 22px;
             width: 100%;
             height: 54px;
             background-position: center;
             background: white;
             background-size: 100%;
             border-radius: 10px;
             transition:all 0.4s ease;

              > * {
                 display: inline-block;
                 vertical-align: middle;
               }



        }
         #checkbox {
             width: 26px;
             height: 26px;
             background: #E1E6E7;
             box-shadow: inset 0px 2px 1px rgba(96, 100, 104, 0.3);
             border-radius: 3px;
            margin: 14px 0px 14px 8px;
        }

         #co2ok_cart_field {
             display: none;
        }



         &.unselected {

             .compensation_amount {
                 color:#06d367;
            }

            .inner_checkbox_label {

                // @extend %backgroundTransition;

           }

        }
         &.selected {

             .inner_checkbox_label {
               @extend %gradient;
             }
             color:white;
             text-shadow: 2px 2px 8px #6d6d6d;
             box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);

             #checkbox {
                 padding: 2px;
                 background-color: white;
                 background-size: 80%;
                 background-position: center;
                 background-repeat: no-repeat;
                 background-image: url("../images/vinkje_co2ok.png") !important;
                 font-size: 20px;
            }
             .compensation_amount {
                 color: white;
            }
        }
    }
}
 img#co2ok_logo {
     display: inline-block;
     width: 55px;
     vertical-align: middle;
     margin: 17px 20px 14px 5px;
}
 .co2ok_infobox_container {
     width: 350px;
     overflow: hidden;
     position: absolute;
     left:50%;
     margin-left:-175px;
     opacity: 0;
     -webkit-transition: opacity 1.2s;
     transition: opacity 1.2s;
     z-index : 10000;
     display: none;
     background: white;
     border-radius: 15px;
     box-sizing: border-box;
     padding: 10px;
     margin-top: -50px;
     border: 3px solid #eee;
     border-image-slice: 1;
     &.ShowInfoBox{
         display: block;
         opacity: 1
    }
    .inner-wrapper {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin-top: 10px;

      .svg-img {
        display: flex;
        justify-content: center; /* align horizontal */
        align-items: center; /* align vertical */
        height: 50%;
        width: 50%;
        align-items: center;
        justify-content: center;

      }
      .text-block {
        margin: 0px;
        font-size: 0.9em;
        line-height: normal;
        box-sizing: border-box;
        text-align: left;
        padding: 5px;
        border-radius: 5px;
        border: 2px solid #28db83;
      }

    }

    img, span {
      display: inline-block;
      vertical-align: middle;
      color: #979797;
      padding: 0px;
    }
}
